@import "tailwindcss";
@plugin "daisyui" {
  themes: nord;
}

/** 
  A custom theme I made with
  https://daisyui.com/theme-generator/
*/
@plugin "daisyui/theme" {
  name: "mnmlight";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(100% 0 0);
  --color-base-300: oklch(87% 0.006 286.286);
  --color-base-content: oklch(26.21% 0.009 248.19);
  --color-primary: oklch(60.48% 0.217 257.21);
  --color-primary-content: oklch(26.21% 0.009 248.19);
  --color-secondary: oklch(64.01% 0.175 146.74);
  --color-secondary-content: oklch(55.75% 0.016 244.89);
  --color-accent: oklch(60.48% 0.217 257.21);
  --color-accent-content: oklch(26.21% 0.009 248.19);
  --color-neutral: oklch(10.48% 0.217 257.21);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(64.01% 0.175 146.74);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(64.01% 0.175 146.74);
  --color-success-content: oklch(98% 0.018 155.826);
  --color-warning: oklch(90% 0.182 98.111);
  --color-warning-content: oklch(98% 0.026 102.212);
  --color-error: oklch(57% 0.245 27.325);
  --color-error-content: oklch(96% 0.015 12.422);
  --radius-selector: 0.25rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 0.5px;
  --depth: 1;
  --noise: 1;
}
